# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
# Virtual Environments
burgerverse_env/
env/
.env
*.env

# Django
*.log
local_settings.py

media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db