{% extends 'base.html' %}

{% block content %}
<h1 class="page-title">My Cart</h1>

{% if cart and cart.items.all %}
  <table class="cart-table">
    <tr>
      <th>Item</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Action</th>
    </tr>

    {% for item in cart.items.all %}
      <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>₹{{ item.price }}</td>
        <td>
          <a href="{% url 'orders:remove_from_cart' item.product.id %}">
            Remove
          </a>
        </td>
      </tr>
    {% endfor %}
  </table>

  <h3>Total: ₹{{ cart.total_price }}</h3>

  <a href="{% url 'orders:checkout' %}" class="btn checkout-btn">
  Place Order
</a>


{% else %}
  <p>Your cart is empty 🍔</p>
{% endif %}
{% endblock %}
