body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff7f0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #ff8737;
    color: white;
}

.navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
    margin-top: 40px;
}

.product-card {
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    display: inline-block;
    width: 200px;
}
.page-title {
    margin: 20px;
}

.cart-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.cart-table th,
.cart-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.checkout-btn {
    margin: 20px;
    padding: 12px 25px;
    background: #ff8737;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.auth-form {
    width: 300px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.auth-form button {
    width: 100%;
    margin-top: 10px;
}
